* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(16deg, rgba(116, 116, 116, 0.02) 0%, rgba(116, 116, 116, 0.02) 25%, transparent 25%, transparent 96%, rgba(177, 177, 177, 0.02) 96%, rgba(177, 177, 177, 0.02) 100%), linear-gradient(236deg, rgba(148, 148, 148, 0.02) 0%, rgba(148, 148, 148, 0.02) 53%, transparent 53%, transparent 59%, rgba(56, 56, 56, 0.02) 59%, rgba(56, 56, 56, 0.02) 100%), linear-gradient(284deg, rgba(16, 16, 16, 0.02) 0%, rgba(16, 16, 16, 0.02) 46%, transparent 46%, transparent 71%, rgba(181, 181, 181, 0.02) 71%, rgba(181, 181, 181, 0.02) 100%), linear-gradient(316deg, rgba(197, 197, 197, 0.02) 0%, rgba(197, 197, 197, 0.02) 26%, transparent 26%, transparent 49%, rgba(58, 58, 58, 0.02) 49%, rgba(58, 58, 58, 0.02) 100%), linear-gradient(90deg, white, white);
}

html body {
  min-height: 100vh;
}

.container nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container nav ul {
  background: bisque;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  list-style: none;
}

.container nav ul li {
  display: -ms-grid;
  display: grid;
}

.container nav ul li a {
  text-decoration: none;
  font-weight: 800;
  color: black;
  padding: 15px;
}

.container nav ul li a:hover {
  background: #fcd19c;
}

form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
}

form .form-group {
  display: -ms-grid;
  display: grid;
}

form .form-group textarea {
  font-size: 0.6vw;
  padding: 0.4vw;
  background: rgba(255, 225, 188, 0.767);
  border: none;
  margin-bottom: 1vh;
}

form .form-group input {
  width: 15vw;
  padding: 0.4vw;
  background: rgba(252, 209, 156, 0.788);
  border: none;
}

form .form-group .checkbox {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  width: 1vw;
  margin: 1vw;
}

form .form-group .add-remove {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  justify-items: center;
}

form .form-group .add-remove .add {
  background: #ddff9e;
}

form .form-group .add-remove .remove {
  background: #ffad9e;
}

form .form-group .add-remove .buttons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 800;
  padding: 0.6vw 1vw;
  border-radius: 5px;
  margin-bottom: 10px;
}

form .form-group label {
  font-weight: 700;
  font-size: 1vw;
  padding: 0.2vw;
}

#inventory {
  width: 2vw;
}

.list-table {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 1vw;
}

.list-table thead {
  background: coral;
}

.list-table th {
  padding: 0.7vw 6vw;
}

.list-table .action {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
}

.list-table td {
  background: rgba(255, 127, 80, 0.486);
  padding: 0.6vw 6vw;
}

.list-table td .edit {
  text-decoration: none;
  color: black;
  background: rgba(9, 247, 255, 0.74);
  border-radius: 5px;
  padding: 0.4vw 1vw;
}

.list-table td .edit:hover {
  background: #09f7ff;
}

.list-table td input {
  background: coral;
  border: none;
  padding: 0.4vw;
  font-size: large;
  font-weight: 900;
  width: 3vw;
  text-align: center;
}

.list-table td input:focus {
  outline-color: white;
}

.list-table td button {
  background: transparent;
  border: none;
}

.list-table td button:focus {
  outline: none;
}

.list-table td .setInventoryCheckBox {
  font-size: 1.5vw;
  color: white;
}

.list-table td .setInventoryCheckBox:hover {
  color: #fd5c21;
  -webkit-box-shadow: 0 0 3px 3px coral;
          box-shadow: 0 0 3px 3px coral;
}

.container {
  display: -ms-grid;
  display: grid;
}

.container #add-button-list {
  text-decoration: none;
  color: black;
  background: rgba(9, 255, 70, 0.74);
  border-radius: 5px;
  padding: 0.4vw 1vw;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 2vh;
}

.container #add-button-list:hover {
  background: #09ff46;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.delete {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0.4vw 1vw;
  background: rgba(255, 0, 0, 0.651);
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover {
  background: red;
}
/*# sourceMappingURL=index.css.map */