* {
  margin: 0;
  padding: 0;
}
html {
  background: linear-gradient(
      16deg,
      rgba(116, 116, 116, 0.02) 0%,
      rgba(116, 116, 116, 0.02) 25%,
      transparent 25%,
      transparent 96%,
      rgba(177, 177, 177, 0.02) 96%,
      rgba(177, 177, 177, 0.02) 100%
    ),
    linear-gradient(
      236deg,
      rgba(148, 148, 148, 0.02) 0%,
      rgba(148, 148, 148, 0.02) 53%,
      transparent 53%,
      transparent 59%,
      rgba(56, 56, 56, 0.02) 59%,
      rgba(56, 56, 56, 0.02) 100%
    ),
    linear-gradient(
      284deg,
      rgba(16, 16, 16, 0.02) 0%,
      rgba(16, 16, 16, 0.02) 46%,
      transparent 46%,
      transparent 71%,
      rgba(181, 181, 181, 0.02) 71%,
      rgba(181, 181, 181, 0.02) 100%
    ),
    linear-gradient(
      316deg,
      rgba(197, 197, 197, 0.02) 0%,
      rgba(197, 197, 197, 0.02) 26%,
      transparent 26%,
      transparent 49%,
      rgba(58, 58, 58, 0.02) 49%,
      rgba(58, 58, 58, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  body {
    min-height: 100vh;
  }
}
.container {
  nav {
    display: grid;
    justify-content: center;
    ul {
      background: bisque;
      display: grid;
      justify-items: center;
      grid-template-columns: auto auto;
      list-style: none;
      li {
        display: grid;
        a {
          text-decoration: none;
          font-weight: 800;
          color: black;
          padding: 15px;
          &:hover {
            background: rgb(252, 209, 156);
          }
        }
      }
    }
  }
}

form {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  column-gap: 1vw;
  .form-group {
    display: grid;
    textarea {
      font-size: 0.6vw;
      padding: 0.4vw;
      background: rgba(255, 225, 188, 0.767);
      border: none;
      margin-bottom: 1vh;
    }
    input {
      width: 15vw;
      padding: 0.4vw;
      background: rgba(252, 209, 156, 0.788);
      border: none;
    }
    .checkbox {
      transform: scale(2.5);
      width: 1vw;
      margin: 1vw;
    }
    .add-remove {
      display: grid;
      grid-template-columns: auto auto;
      justify-items: center;
      .add {
        background: rgb(221, 255, 158);
      }
      .remove {
        background: rgb(255, 173, 158);
      }
      .buttons {
        align-self: center;
        font-weight: 800;
        padding: 0.6vw 1vw;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    }
    label {
      font-weight: 700;
      font-size: 1vw;
      padding: 0.2vw;
    }
  }
}
#inventory {
  width: 2vw;
}

.list-table {
  display: grid;
  justify-content: center;
  font-weight: 800;
  font-size: 1vw;
  thead {
    background: coral;
  }
  th {
    padding: 0.73vw 6vw;
  }
  .action {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1vw;
  }
  td {
    background: rgba(255, 127, 80, 0.486);
    padding: 0.6vw 6vw;

    .edit {
      text-decoration: none;
      color: black;
      background: rgba(9, 247, 255, 0.74);
      border-radius: 5px;
      padding: 0.4vw 1vw;
      &:hover {
        background: rgb(9, 247, 255);
      }
    }

    input {
      background: coral;
      border: none;
      padding: 0.4vw;
      font-size: large;
      font-weight: 900;
      width: 3vw;
      text-align: center;
      &:focus {
        outline-color: white;
      }
    }
    button {
      background: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }
    .setInventoryCheckBox {
      font-size: 1.5vw;
      color: white;
      &:hover {
        color: rgb(253, 92, 33);
        box-shadow: 0 0 3px 3px coral;
      }
    }
  }
}
.container {
  display: grid;

  #add-button-list {
    text-decoration: none;
    color: black;
    background: rgba(9, 255, 70, 0.74);
    border-radius: 5px;
    padding: 0.4vw 1vw;
    justify-self: center;
    margin-top: 2vh;
    &:hover {
      background: rgb(9, 255, 70);
    }
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.delete {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0.4vw 1vw;
  background: rgba(255, 0, 0, 0.651);
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: rgb(255, 0, 0);
  }
}
