* {
  margin: 0;
  padding: 0;
}
html {
  background: linear-gradient(
      16deg,
      rgba(116, 116, 116, 0.02) 0%,
      rgba(116, 116, 116, 0.02) 25%,
      transparent 25%,
      transparent 96%,
      rgba(177, 177, 177, 0.02) 96%,
      rgba(177, 177, 177, 0.02) 100%
    ),
    linear-gradient(
      236deg,
      rgba(148, 148, 148, 0.02) 0%,
      rgba(148, 148, 148, 0.02) 53%,
      transparent 53%,
      transparent 59%,
      rgba(56, 56, 56, 0.02) 59%,
      rgba(56, 56, 56, 0.02) 100%
    ),
    linear-gradient(
      284deg,
      rgba(16, 16, 16, 0.02) 0%,
      rgba(16, 16, 16, 0.02) 46%,
      transparent 46%,
      transparent 71%,
      rgba(181, 181, 181, 0.02) 71%,
      rgba(181, 181, 181, 0.02) 100%
    ),
    linear-gradient(
      316deg,
      rgba(197, 197, 197, 0.02) 0%,
      rgba(197, 197, 197, 0.02) 26%,
      transparent 26%,
      transparent 49%,
      rgba(58, 58, 58, 0.02) 49%,
      rgba(58, 58, 58, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  body {
    min-height: 100vh;
  }
}
.container {
  nav {
    display: grid;
    justify-content: center;
    ul {
      background: bisque;
      display: grid;
      justify-items: center;
      grid-template-columns: auto auto;
      list-style: none;
      li {
        display: grid;
        a {
          text-decoration: none;
          font-weight: 800;
          color: black;
          padding: 15px;
          &:hover {
            background: rgb(252, 209, 156);
          }
        }
      }
    }
  }
}

form {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  column-gap: 3vw;
  .form-group {
    display: grid;
    textarea {
      padding: 0.4vw;
      background: rgba(255, 225, 188, 0.767);
      border: none;
    }
    input {
      width: 15vw;
      padding: 0.4vw;
      background: rgba(252, 209, 156, 0.788);
      border: none;
    }
    .checkbox {
      transform: scale(2.5);
      width: 1vw;
      margin: 1vw;
    }
    .add-remove {
      display: grid;
      grid-template-columns: auto auto;
      justify-items: center;
      .add {
        background: rgb(221, 255, 158);
      }
      .remove {
        background: rgb(255, 173, 158);
      }
      .buttons {
        align-self: center;
        font-weight: 800;
        padding: 0.6vw 1vw;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    }
    label {
      font-weight: 700;
      font-size: 1vw;
      padding: 0.2vw;
    }
  }
}
#inventory {
  width: 2vw;
}
